body {
	background-color: white;
	font-family: arial;

}

.cabecera {
	background-color: white;
}

@font-face {
	font-family: 'GeorgiaBallpark Serif';
	src: url('GeorgiaBallpark-Serif.woff2') format('woff2'),
		url('GeorgiaBallpark-Serif.woff') format('woff'),
		url('GeorgiaBallpark-Serif.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sansumi';
	src: url('Sansumi-Regular.woff2') format('woff2'),
		url('Sansumi-Regular.woff') format('woff'),
		url('Sansumi-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Coneria Script Demo';
	src: url('ConeriaScriptDemo.woff2') format('woff2'),
		url('ConeriaScriptDemo.woff') format('woff'),
		url('ConeriaScriptDemo.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sansumi UltraLight';
	src: url('Sansumi-UltraLight.woff2') format('woff2'),
		url('Sansumi-UltraLight.woff') format('woff'),
		url('Sansumi-UltraLight.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Valentime';
	src: url('Valentime.woff2') format('woff2'),
		url('Valentime.woff') format('woff'),
		url('Valentime.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-Light';
	src: url('Poppins-Light.woff2') format('woff2'),
		url('Poppins-Light.woff') format('woff'),
		url('Poppins-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}



.letras1 {
	font-family: "GeorgiaBallpark Serif";
	text-align: center;
	font-size: 30px;

}

.letras2 {
	font-family: "Sansumi";
	text-align: center;
	font-size: 30px;

}

.letras3 {
	font-family: "Coneria Script Demo";
	text-align: center;
	font-size: 30px;

}

.letras4 {
	font-family: "Sansumi UltraLight";
	text-align: center;
	font-size: 30px;

}

.letras5 {
	font-family: "Valentime";
	text-align: center;
	font-size: 30px;

}



h1 {
	font-family: "Poppins-Light";
	font-size: calc(1.0em + 1.0vw);
	color: #8F6B60;
	margin-bottom: 5px;
}

h2 {
	font-family: "GeorgiaBallpark Serif";
	font-size: calc(0.9em + 0.9vw);
	color: #8F6B60;
	margin-bottom: 5px;

	margin-top: 5px;
	margin-bottom: 10px;
}

.cuponnombreemp {
	font-family: "GeorgiaBallpark Serif";
	text-align: center;
	font-size: calc(1em + 1vw);
	width: 100%;

	margin-top: 0px;
	margin-bottom: 5px;

}

.bienvenida {
	font-family: "Poppins-Light";
	font-size: calc(0.6em + 0.6vw);
}

.info {
	font-family: "Poppins-Light";
	text-align: left;
	font-size: calc(0.6em + 0.6vw);
}



h3 {
	font-family: "Poppins-Light";
	text-align: left;
	font-size: calc(0.7em + 0.7vw);
}

.intruccionestexto {

	font-size: calc(0.6em + 0.6vw);
}

.mensaje {
	font-family: "Sansumi";
	text-align: center;
	font-size: calc(0.8em + 0.8vw);
	color: red;
}


.divcuponlink {
	margin-bottom: 10px;
}

.cuponlink {
	font-size: calc(0.6em + 0.6vw);
	width: 100%;
	color: black;
	text-align: center;

}

.cuponlink :visited {

	color: black;
}

.logodistinct {
	text-align: center;

}

.logodistinct_img {
	width: 15%;
	margin-bottom: 10px;
}

.padre {
	text-align: center;
	font-size: 12px;
}

table {
	font-size: 12px;
}



.instrucciones {
	width: 25%;
	text-align: center;
	vertical-align: text-top;
}

.instruccionesicono {
	width: 60%;
}




.hijo {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;

}

.separacion {}


.nombre {
	margin: 1px;
	width: 100%;
}

.direcc {
	margin: 1px;
	width: 100%;
	height: 75px;
}

.datosRegular {
	margin: 1px;
	width: 100%;
	height: 35px;
}


.numero {
	margin: 1px;
	width: 100%;
}

.texto {
	margin: 1px;
	width: 100%;
}

.negrita {
	font-weight: bold;
}





.consideraciones {
	text-align: left;
}

.centrado {
	text-align: center;
}




.recomendacion {
	text-align: left;

}


.asterisco {
	color: red;
}

.tabladatos {
	width: 100%;

}

.tablaResultados {
	width: 100%;
}

.cupones {
	margin: 0px;
	margin-bottom: 10px;
	text-align: center;

}

.cupon {
	margin-bottom: 30px;
}

.fancybox {}

.cuponindicaciones {
	width: 100%;

}

.tarjetausuario {
	width: 40%;
}

.categoria {
	text-align: left;
	margin-bottom: 5px;
}

.categoria_1 {
	width: 100%;
	padding: 0px;
	margin-bottom: 5px;
}

.categoria_imagen {
	width: 10%;
	min-width: 70px;
	/*background-color: red;*/
}

.categoriaicono {
	width: 100%;
}




.piepagina_general {
	width: 100%;
	text-align: center;

}

.piepagina {

	width: 30%;
	float: center;
	display: inline-block;

}


.piepagina_icono {
	width: 25%;
	text-align: center;
	float: left;

}

.piepagina_imagen {
	width: 80%;

}